.header {
    background-color: #000000;
    grid-area: header;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Distribuye el espacio entre los elementos */
    padding: 10px;
}

/* Estilos para la barra superior dentro de la barra lateral */
.top-menu {
    display: flex; /* Utiliza el modelo de diseño flexbox */
    align-items: center; /* Centra horizontalmente el contenido */

}

.top-menu span {
    font-size: 36px; /* Aumenta el tamaño del texto */
    color: #fff; /* Color del texto en la barra superior */
    font-weight: bold; /* Peso de la fuente en negrita */
    letter-spacing: 2px; /* Espaciado entre caracteres */
    transition: 0.5s; /* Duración de la transición */
    text-decoration: none; /* Sin decoración de texto */
}

.top-menu span:hover {
    color: #ffcc00; /* Cambia el color al pasar el mouse */
}
.Version {
    font-size: 16px;
    color:#fff;
    text-align: right;
    margin-left: 300%;
}

@media screen and (max-width: 1000px) {
    .Version {
        margin: 30%;
    }
}